<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>8985</integer>
	<key>LibraryBuildTag</key>
	<string>D8EC3066-B007-4CA7-8CD3-60F23486FDBC</string>
	<key>LibrarySchemaVersion</key>
	<integer>1801</integer>
</dict>
</plist>
